body  {
	padding:15px;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}

#title-wrapper {
	padding: 30px;
	text-align: center;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 48px;
}

#ttt-message {
	font-size: 30px;
	font-weight:bold;
	background-color: green;
	color: white;
	border-radius: 10px;
	width: 60%;
	text-align: center;
	margin: 0 auto 20px;
}

.player-buttons button{
	max-width: 120px;
	width: 50%;
	padding: 0 5px;
	background-color: #ddd;
	font-size: 18px;
	border-radius: 15px;
}

#game-wrapper {
	padding: 30px;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
	overflow: hidden;

	/*temp*/
	border: 1px solid red;
}

#game-wrapper .board-row {
	display: block;
	padding: 10px;
	text-align: center;

	/*temp*/
	border: 1px solid red;
	height: 160px;
}

#game-wrapper .board-row .box {
	display: inline-block;
	max-width: 160px;
	width: 30%;

	/*temp*/
	border: 1px solid red;
	height: 100%;
}

#game-wrapper .game-buttons {
	width: 100%;

	/*temp*/
	border: 1px solid red;
}

#game-wrapper .game-buttons button {
	width: 80px;
	background-color: black;
	color: white;

	/*temp*/
	/*border: 1px solid red;*/
}